.nav-wrapper {
    background-color: black;
    position: absolute;
    color: #7289da;
    box-shadow: 300px;
}



#nav-title {
    color: #7289da;
    margin-left: 35px;
}

#Dashboard {
    color: #7289da;

}
.input-field {
    background-color: black;
}

#dropdown1 {
    background-color: black;
}

#dropdown1 a {
    color: #7289da;
}

a#logoutID {
    color: lightgreen;
    font-weight: bold;
}
