.nav-wrapper {
    background-color: black;
    position: fixed;
    color: #7289da;
    box-shadow: 300px;
}



#nav-title.brand-logo {
    color: #7289da;
}

#Dashboard {
    color: #7289da;

}
.input-field {
    background-color: black;
}

#dropdown1 {
    background-color: black;
}

#dropdown1 a {
    color: #7289da;
}

a#logoutID {
    color: lightgreen;
    font-weight: bold;
}

.sidenav {
    width: 50%;
    background-color: #23272a;
    border-right: 2px solid #7289da;
}

