.wrapper-body {
    background-image: url("./media-banner_gradient3.png");
    background-color: #23272a;
    padding-bottom: 100%;
    background-repeat: no-repeat;
    background-size: 1525px 800px
}


