.nav-wrapper {
    background-color: black;
    position: absolute;
    color: #7289da;
    box-shadow: 300px;
}

#nav-title {
    color: #7289da;
    margin-left: 35px;
}


a#logoutID {
    color: lightgreen;
    font-weight: bold;
}
